@import url(http://fonts.googleapis.com/css?family=Nobile:700,400);
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100%;
  font-family: 'Nobile', arial, serif,"Microsoft JhengHei","新細明體", "PMingLiU", Helvetica,Lucida Grande,san-serif, Arial;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

::-webkit-search-cancel-button {
  display: none;
}

.hide {
  display: none;
}

body {
  background-color: #528037;
  background-image: url("../../img/bg_bll.jpg");
  background-repeat: repeat;
  min-width: 300px;
  overflow-x: hidden;
  color: #333;
  font-size: 100%;
  font-family: "Nobile","Microsoft YaHei","Microsoft JhengHei","Apple LiGothic Medium","PMingLiU",sans-serif,​Helvetica,​Heiti,'Open Sans';
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #eee;
  letter-spacing: 1px;
}

:-moz-placeholder {
  color: #eee;
  letter-spacing: 1px;
}

::-moz-placeholder {
  color: #eee;
  letter-spacing: 1px;
}

:-ms-input-placeholder {
  color: #eee;
  letter-spacing: 1px;
}

.header, .content {
  width: 90%;
  margin: 0 auto;
}

.header h1 {
  margin-top: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 1.8em;
  font-style: italic;
  text-align: center;
  text-shadow: rgba(51, 51, 51, 0.2) 1px 1px 0, rgba(51, 51, 51, 0.2) 2px 2px 0, rgba(51, 51, 51, 0.2) 3px 3px 0;
}

.jobtable {
  min-width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  table-layout: fixed;
}
.jobtable th, .jobtable td {
  padding: 8px 5px;
  color: #eee;
  text-align: center;
  font-size: .9em;
  line-height: 1.4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #444444));
  background-image: -webkit-linear-gradient(#555555, #444444);
  background-image: -moz-linear-gradient(#555555, #444444);
  background-image: -o-linear-gradient(#555555, #444444);
  background-image: linear-gradient(#555555, #444444);
  -webkit-box-shadow: #333333 1px 1px 5px;
  -moz-box-shadow: #333333 1px 1px 5px;
  box-shadow: #333333 1px 1px 5px;
  vertical-align: middle;
}
.jobtable thead th {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9b84a), color-stop(100%, #f9892c));
  background-image: -webkit-linear-gradient(#f9b84a, #f9892c);
  background-image: -moz-linear-gradient(#f9b84a, #f9892c);
  background-image: -o-linear-gradient(#f9b84a, #f9892c);
  background-image: linear-gradient(#f9b84a, #f9892c);
}
.jobtable .fixword {
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jobtable .table-sort {
  color: #fff;
  background: none;
  padding: 3px;
  position: relative;
  bottom: 2px;
}
.jobtable .btn-detail {
  color: #fff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #ff9547;
}

.job-detail > td {
  padding: 0;
  background: #111;
  -webkit-box-shadow: inset #111111 0 1px 5px;
  -moz-box-shadow: inset #111111 0 1px 5px;
  box-shadow: inset #111111 0 1px 5px;
}
.job-detail .jobtable {
  min-width: 99%;
  margin: 5px;
}
.job-detail .jobtable th {
  background: #3b4a63;
}
.job-detail .detail-content {
  max-height: 300px;
  overflow: auto;
}

.pagenavi {
  margin: 20px 0 40px;
  text-align: center;
}
.pagenavi li {
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-align: center;
  font-size: .8em;
  background-color: rgba(51, 51, 51, 0.5);
}
.pagenavi li a {
  display: block;
  color: #fff;
  padding: 8px 13px;
  cursor: pointer;
}
.pagenavi li:hover {
  background-color: #333;
}
.pagenavi li.active {
  -webkit-box-shadow: #ff9547 0 0 10px;
  -moz-box-shadow: #ff9547 0 0 10px;
  box-shadow: #ff9547 0 0 10px;
}
.pagenavi li.active a {
  color: #ffe08c;
}
.pagenavi .prev, .pagenavi .next {
  border: none;
  background: rgba(0, 149, 249, 0.7);
}
.pagenavi .prev:hover, .pagenavi .next:hover {
  border: none;
  background-color: #036cb2;
}
