@import url(http://fonts.googleapis.com/css?family=Nobile:700,400);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100%;
  font-family: "Nobile", arial, serif, "Microsoft JhengHei", "新細明體", "PMingLiU", Helvetica, Lucida Grande, san-serif, Arial;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none;
}

mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

::-webkit-search-cancel-button, .hide {
  display: none;
}

body {
  background-color: #528037;
  background-image: url("../../img/bg_bll.jpg");
  background-repeat: repeat;
  min-width: 300px;
  overflow-x: hidden;
  color: #333333;
  font-size: 100%;
  font-family: "Nobile", "Microsoft YaHei", "Microsoft JhengHei", "Apple LiGothic Medium";
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #eeeeee;
  letter-spacing: 1px;
}

.header, .content {
  width: 90%;
  margin: 0 auto;
}

.header h1 {
  margin-top: 20px;
  color: white;
  font-weight: 700;
  font-size: 1.8em;
  font-style: italic;
  text-align: center;
  text-shadow: rgba(51, 51, 51, 0.2) 1px 1px 0, rgba(51, 51, 51, 0.2) 2px 2px 0, rgba(51, 51, 51, 0.2) 3px 3px 0;
}

.jobtable {
  min-width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  table-layout: fixed;
}
.jobtable th, .jobtable td {
  padding: 8px 5px;
  color: #eeeeee;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.4;
  vertical-align: middle;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #444444));
  background-image: -webkit-linear-gradient(#555555, #444444);
  background-image: -moz-linear-gradient(#555555, #444444);
  background-image: -o-linear-gradient(#555555, #444444);
  background-image: linear-gradient(#555555, #444444);
  -webkit-box-shadow: #333333 1px 1px 5px;
  -moz-box-shadow: #333333 1px 1px 5px;
  box-shadow: #333333 1px 1px 5px;
}
.jobtable thead th {
  padding: 5px 10px;
  color: white;
  font-weight: 500;
  white-space: nowrap;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9b84a), color-stop(100%, #f9892c));
  background-image: -webkit-linear-gradient(#f9b84a, #f9892c);
  background-image: -moz-linear-gradient(#f9b84a, #f9892c);
  background-image: -o-linear-gradient(#f9b84a, #f9892c);
  background-image: linear-gradient(#f9b84a, #f9892c);
  text-shadow: rgba(51, 51, 51, 0.2) 1px 2px 0;
}
.jobtable .fixword {
  width: 300px;
  padding: 0 10px;
  word-break: break-word;
  word-wrap: break-word;
}
.jobtable .table-sort {
  color: white;
  background: none;
  padding: 3px;
  position: relative;
  bottom: 2px;
}
.jobtable .btn-detail {
  color: white;
  width: 30px;
  height: 30px;
  border: 1px solid #ff9547;
  line-height: 26px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.jobtable .btn-detail:hover {
  color: #47f6ff;
  border: 1px solid #47f6ff;
  -webkit-transition-property: border, color;
  -moz-transition-property: border, color;
  -o-transition-property: border, color;
  transition-property: border, color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.job-detail > td {
  padding: 0;
  background: #111111;
  -webkit-box-shadow: inset #111111 0 1px 5px;
  -moz-box-shadow: inset #111111 0 1px 5px;
  box-shadow: inset #111111 0 1px 5px;
}
.job-detail .jobtable {
  min-width: 99%;
  margin: 5px;
}
.job-detail .jobtable th {
  background: #3b4a63;
}
.job-detail .detail-content {
  border-left: 2px outset #f9b84a;
  border-right: 2px outset #f9b84a;
}

.pagenavi {
  margin: 20px 0 40px;
  text-align: center;
}
.pagenavi li {
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-align: center;
  font-size: 0.8em;
  background-color: rgba(51, 51, 51, 0.5);
}
.pagenavi li a {
  display: block;
  color: white;
  padding: 8px 13px;
  cursor: pointer;
}
.pagenavi li:hover {
  background-color: #333333;
}
.pagenavi li.active {
  -webkit-box-shadow: #ff9547 0 0 10px;
  -moz-box-shadow: #ff9547 0 0 10px;
  box-shadow: #ff9547 0 0 10px;
}
.pagenavi li.active a {
  color: #ffe08c;
}
.pagenavi .prev, .pagenavi .next {
  border: none;
  background: rgba(0, 149, 249, 0.7);
}
.pagenavi .prev:hover, .pagenavi .next:hover {
  border: none;
  background-color: #036cb2;
}

#map-canvas {
  height: 600px;
  margin: 20px;
}

.gm-style {
  font-family: Verdana, "Microsoft JhengHei", san-serif !important;
}

.g-top {
  width: 100%;
  padding: 5px 13px !important;
  position: absolute;
  top: 0;
  left: 0;
  color: #eeeeee;
  font-size: 1.12em;
  letter-spacing: 1px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #111111), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(#111111, #555555);
  background-image: -moz-linear-gradient(#111111, #555555);
  background-image: -o-linear-gradient(#111111, #555555);
  background-image: linear-gradient(#111111, #555555);
}

.info [class^="g-"] {
  line-height: 1.5;
}

.info {
  width: 210px;
  max-height: 300px;
  overflow: auto;
  padding-top: 30px;
}

.gm-style-iw {
  width: 210px !important;
  top: 17px !important;
  left: 30px !important;
  background-color: white;
  box-shadow: 0 1px 6px rgba(4, 4, 4, 0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.gm-style-iw ~ div {
  width: 19px !important;
  height: 19px !important;
  top: 23px !important;
  right: 36px !important;
  border-style: double;
  border: 3px solid rgba(72, 181, 233, 0.4);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.g-block {
  padding: 10px 15px;
}
.g-block:hover {
  background: #eeeeee;
}

.g-name {
  padding: 5px 5px 5px 15px;
  font-weight: 700;
  background: #fbf2b0;
  -webkit-box-shadow: 0 2px 5px #c7b88f;
  -moz-box-shadow: 0 2px 5px #c7b88f;
  box-shadow: 0 2px 5px #c7b88f;
}

.g-phone {
  padding: 2px 5px;
}
.g-phone .fa {
  margin-right: 5px;
}

.g-salary {
  display: inline-block;
  padding: 2px 5px;
  color: white;
  background: #4cb1ff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
