//theme color
$bg_file:         "../../../../../../c/img/sth001/icon_white.png";
$bg_file_hpd:     "../../../../../../c/img/sth001/icon_white_retina.png";

//主題色
$primary:			#14b3e5;
$button:			$primary;
$button_text:			white;

$text:				#6c6c6c;
$text_hover:			#90c8f2;
$link:				black;
$border:			$light_gray;
$price:				$red;
$hover_text:			white;
$hover_bk:			#69cae9;
$active_text:			white;
$active_bk:			$primary;
$disabled:			gray;
$background:			white;
$title_h3:			black;

//header
$header_border:		#efefef;
$header_bk:			white;
$nav_bk:			white;
$nav_border:			$light_gray;
$nav_text: 			black;

//item
$item_hover:			#b3e5fe;
$item_name:			black;

//footer
$footer_bk:			#F5F5F5;
$footer_title:			#474747;
$footer_link:			#6c6c6c;
$footer_hover:		$primary;

//form
$input_text:			black;
$input_bk:			white;
$input_border:		$border;

//site-search
$search_bk:			white;
$search_text:			#555;
$search_border:		$border;
$search_btn:			$border;
$recommend_link:		black;

//site-cart
$count:			white;
$cart_bk:			white;

//tabs
$label_red:			#fb9e9e;
$label_blue:			#53c6db;
$label_dark-blue:	#4498c8;
$label_gray:			#A7A7A7;